# Alias definitions
# terminal ease of use
# alias rst="source ~/.bashrc"
rst() {
	if [[ "$SHELL" == *"zsh"* ]]; then
		source ~/.zshrc
	fi
	if [[ "$SHELL" == *"bash"* ]]; then
		source ~/.bashrc
	fi
}
cdl() {
	cd "$1"
	ls
}
src() {
	set -a
	source "$1"
	set +a
}
hist() {
	history | grep "$@"
}
update() {
	if type "apt" > /dev/null; then
		echo "Running apt"
		sudo apt update -y && sudo apt upgrade -y && sudo apt auto-remove -y
	fi
	if type "nix-channel" > /dev/null; then
		echo "Running nix channels"
		nix-channel --update
	fi
	if type "nixos-rebuild" > /dev/null; then
		echo "Running nixos-rebuild"
		sudo nixos-rebuild switch
	fi
	if type "nix-env" > /dev/null; then
		echo "Running nix-env"
		nix-env -u '*'
	fi
	if type "home-manager" > /dev/null; then
		echo "Running home-manager"
		home-manager build && home-manager switch
	fi
}

# Clear screen when Ctrl + l not available
alias cls='clear'

# ls and grep color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# more ls aliases
alias ll='ls -alhFo'
alias la='ls -A'
alias l='ls -CF'

# tmux session alias
alias homemux='tmux new -A -s Home'
alias homemuxnew='tmux new -A -s Home \; new-window'
mux() {
	tmux new -A -s "$1"
}

# Updating and Upgrading
#alias update='sudo apt update -y && sudo apt upgrade -y'
#alias update-ding='sudo apt update -y && sudo apt upgrade -y && ding'
alias updateprotonvpn='sudo pip3 install protonvpn-cli --upgrade'
alias fixtime='sudo ntpdate time.windows.com'

# Docker aliases
alias dc="docker compose"
alias dcupdate="docker compose pull && docker compose down && docker compose up -d"
alias dockerkillall='docker rm -f $(docker ps -aq)'
alias ghcr_login="docker login ghcr.io -u $USER"

# Fun terminal stuff
alias ding='paplay /usr/share/sounds/freedesktop/stereo/complete.oga'
alias say='echo "$1" | espeak -v mb-us1'

# ROS Aliases
alias rosdepupdate='rosdep update && rosdep install -i --from-path ~/dev_ws/src --rosdistro foxy -y'
alias rosdepinstall='rosdep install --from-paths src --ignore-src -r -y'

# Python
alias srcvenv='src .venv/bin/activate'
alias mkvenv='python -m venv .venv && srcvenv'
alias rmvenv='rm -r .venv'

