[submodule ".vim/plugged/ctrlp.vim"]
	path = .vim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/plugged/supertab"]
	path = .vim/plugged/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/plugged/vim-easymotion"]
	path = .vim/plugged/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/plugged/vim-surround"]
	path = .vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/plugged/vim_current_word"]
	path = .vim/plugged/vim_current_word
	url = https://github.com/dominikduda/vim_current_word
[submodule ".vim/plugged/lightline.vim"]
	path = .vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/plugged/nord-vim"]
	path = .vim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".vim/plugged/undotree"]
	path = .vim/plugged/undotree
	url = https://github.com/mbbill/undotree
[submodule ".vim/plugged/vim-gitgutter"]
	path = .vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/plugged/vim-visual-multi"]
	path = .vim/plugged/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
